# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Packaging
*egg-info/

# virtualenv
venv/
venv*/
.venv*/
.python-version
*.lock

# VS Code
.vscode

# Example data
.mp4

# Sphinx build folder
build/