# This workflow will install Python with flake8 for linting

name: Linting

on:
  workflow_call:

jobs:
  linting:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout pyfus
        uses: actions/checkout@v4
      - name: Set up Python 3.10
        uses: actions/setup-python@v6
        with:
          python-version: '3.10'
      - run: python -m pip install pre-commit
      - name: Ruff - Numpydoc - Codespell
        run: pre-commit run --all-files
